*{

    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
}

.box{
    width: 600px;
    height: 120px;
    margin: 0 20px;
    text-align: center;
    /* 백그라운드 이미지에 우리가 컬러로 그라데이션 줄수있다  */
    background-image: linear-gradient(red, orange);
    background-color: pink;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box span{
    font-size: 32px;
    font-weight: 700;
    color: white;
}

.text1{
    transition: all 0.4s ease-in-out;
}
.text2{
    transition: all 0.4s ease-in-out 0.1s;
}

.text3{
    transition: all 0.4s ease-in-out 0.2s;
}

.text4{
    transition: all 0.4s ease-in-out 0.3s;
}

.text5{
    transition: all 0.4s ease-in-out 0.4s;
}

.text6{
    transition: all 0.4s ease-in-out 0.5s;
}

.text7{
    transition: all 0.4s ease-in-out 0.6s;
}

.text8{
    transition: all 0.4s ease-in-out 0.7s;
}

.text9{
    transition: all 0.4s ease-in-out 0.8s;
}

/* 
transition : 이벤트 : 사용자 화면을 움직일때 작동된다
그냥 작동은 안된다 
*/

.box:hover span{
    transform: translateY(-20px)
}
/* 폰트 어썸에서 받은 아이콘은 css 에서 svg 태그 사용  */
.heart svg {
    width: 42px;
    height: 42px;
    color:red;
    animation: heartBeat 1s ease-in-out infinite;
}
/* 그냥 화면 실행하자마자 실행하기 */
@keyframes heartBeat{
    0% {
        transform: scale(1.2);
    }
    70%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

.star svg {
    width: 42px;
    height: 42px;
    color:yellow;
    animation: spinStar2 0.5s ease-in-out infinite alternate;
    
}

@keyframes spinStar1{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes spinStar2{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY( 360deg);
    }
}