/* 
반복적으로 사용하는 특정값을 변수로 만들어서 사용할 수 있다
전역 css 파일 내에서 모두 접근 
*/
:root{
    /* --변수이름:값 */
    --main-color:#0068FF;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 전체 영역으로 설정하는법 */
html, body{
    height: 100%;
} 

.wrap{
    /* px 절대값 % 상대값(부모태그의 ) */
    height: 100%;
    /* background: lightskyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* background-color: lightgrey; */
    width: 80%;
    height: 60%;
    border-radius: 20px;
    box-shadow: 7px 7px 39px 0 rgba(0, 104, 255,0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background-color: gray; */
    flex-wrap: wrap;
    float: auto;
    
}
.content{
    /* background-color: lightblue; */
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

}
.content_header{
    font-size: 11px;
    color: var(--main-color);
    align-self: flex-start;
    /* margin: 0 0 10px 0; */
    margin-bottom: 10px;
    
}
.content_body{
    height: 80%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 0;
}
.content_row{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.content_title{
    font-size: 0.7em;
    /* color: gray; */
    text-align: left;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
}
input[type="text"]:hover{
    border-bottom: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.gender{
    height: 60px;
}

.content_row:nth-child(5){
    height: 500px;
}

.content_footer{
    width: 80%;
    /* background: pink;  */
    height: 30%;

}

button{
    height: 60px;
    width: 100%;
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: white;
    position: relative;
}

span{
    font-size: 8px;
}
